.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.minha-modal {
  width: 400px;
  height: 150px;
  border: 1px solid rgb(70, 66, 66);
  text-align: center;
  position: fixed;
  top: 250px;
  left: 650px;
  background-color: white;
}


